<template>
  <div>
    <ul>
      <li
        v-for="item in getHistory"
        :key="item.id"
        class="todo-item"
      >
        <a
          class="btn btn-primary"
          @click="restoreFromHistory(item)"
        >
          <span>{{ item.num1 }}</span>
          <span>{{ toMathSymbol(item.operator) }}</span>
          <span>{{ item.num2 }}</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "History",
  data: function() {
    return {
      symbolMap: {
        add: '+',
        sub: '-',
        mul: '*',
        div: '/',
      }
    };
  },
  computed: {
    getHistory() {
      return this.$store.getters.getHistory;
    }
  },
  mounted() {
    this.$nextTick(async function () {
      await this.$store.dispatch("loadHistory");
    })
  },
  methods: {
    restoreFromHistory(item) {
      this.$store.dispatch("restore", item);
      this.$router.push('/')
    },
    toMathSymbol(text) {
      return this.symbolMap[text];
    }
  }
};
</script>