<template>
  <div class="container">
    <div class="input-group mb-3">
      <input
        v-model="num1"
        type="text"
        class="form-control"
        placeholder="Num 1"
        aria-label="Num 1"
      >
      <select
        v-model="operator"
        class="form-control"
      >
        <option value="add">
          +
        </option>
        <option value="sub">
          -
        </option>
        <option value="mul">
          &#xD7;
        </option>
        <option value="div">
          &#247;
        </option>
      </select>
      <input
        v-model="num2"
        type="text"
        class="form-control"
        placeholder="Num 2"
        aria-label="Num 2"
      >
      <button
        class="btn btn-outline-secondary"
        type="button"
        @click="calculate"
      >
        Calculate
      </button>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h1>{{ getResult }}</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Calculator",
  computed: {
    num1: {
      get () {
        return this.$store.state.calc.active_calc.num1
      },
      set (value) {
        this.$store.commit('updateNum1', value)
      }
    },
    num2: {
      get () {
        return this.$store.state.calc.active_calc.num2
      },
      set (value) {
        this.$store.commit('updateNum2', value)
      }
    },
    operator: {
      get () {
        return this.$store.state.calc.active_calc.operator
      },
      set (value) {
        this.$store.commit('updateOperator', value)
      }
    },
    getActiveCalc() {
      return this.$store.getters.getActiveCalc;
    },
    getResult() {
      return this.$store.getters.getResult;
    },
  },
  methods: {
    async calculate() {
      await this.$store.dispatch("calculate", this.$store.getters.getActiveCalc);
    }
  }
};
</script>