<template>
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <router-link
          to="/"
          class="nav-link"
        >
          Calculator
        </router-link>
      </li>
      <li class="nav-item">
        <router-link
          to="/history"
          class="nav-link"
        >
          History
        </router-link>
      </li>
    </ul>

    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
}
</script>